server:
  port: 8081
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:h2:mem:clientesdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true