server:
  port: 8082
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:h2:mem:cuentasdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

clientes:
  service:
    url: http://localhost:8081/api